<div class="jumbotron">
  <h1><%= @user.username %></h1>
  <% if @user.id === current_user.id %>
    <%= button_to "New Image", new_image_path, class: 'btn-primary btn', :method => "get" %>
  <% end %>
</div>

<% if @user.images.any? %>
  <% @user.images.each do |image| %>
    <%=link_to image_path(image) do %>
      <%= image_tag image.img_file.url(:default) %>
    <% end %>
  <% end %>
<% end %>

<h1>Tagged Images for <%=@user.username%></h1>
<% if @user.tagged_images.any? %>
  <% @user.tagged_images.each do |tagged_image| %>
    <%= link_to image_path(tagged_image) do%>
      <%= image_tag tagged_image.img_file.url(:default)%>
    <% end %>
  <% end %>
<% end %>
